<h1>My Wikis</h1>
<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @wikis %>
    </div>
    <%= will_paginate @wikis, :container => false %>
  </div>


<% policy_scope(@wikis).each do |wiki| %>
  <p><%= link_to wiki.title, wiki_path(wiki) %></p>
<% end %>
<%= link_to "New Wiki", new_wiki_path, class: 'btn btn-warning ' %>
<%= link_to "Wikis", wikis_path, class: 'btn btn-info   ' %>
