<h1 class="text-center text-muted">New Wiki</h1>


 <div class="row">

   <div class="col-md-12">
     <%= form_for @wiki do |f| %>

     <% if @wiki.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@wiki.errors.count, "error") %> prohibited
      this wiki from being saved:
    </h2>
    <ul>
      <% @wiki.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
       <div class="form-group">
         <%= f.label :title %>
         <%= f.text_field :title, class: 'form-control', placeholder: "Wiki Title" %>
       </div>
       <div class="form-group">
         <%= f.label :body %>
         <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Wiki Body" %>
       </div>
       <div class="form-group">
         <%= f.submit "Save", class: 'btn btn-primary btn-block' %>
       </div>
     <% end %>
   </div>
 </div>
