<h1><%= @wiki.title %></h1>
<small>
    submitted <%= time_ago_in_words(@wiki.created_at) %> ago by <b><%= @wiki.user.name %></b>
  </small>
<div class="container">
<div class="row">
  <div class="col-md-12">
    <p><%= markdown_text(@wiki.body) %></p>
  </div>
</div>
<span>&nbsp;</span>

<% if @wiki.private %>
	<% if @wiki.user == current_user %>
				<div class="bottom-pad">Private wiki</div>
		<% else %>
			<div class="btn btn-block btn-warning">Creator <%= @wiki.user.name %></div>
		<% end %>
 <% else %>
   <div class="bottom-pad">Public wiki</div>
 <% end %>
</div>
<% if user_signed_in? && policy(@wiki).edit? %>
  <%= link_to "Edit Wiki", edit_wiki_path(@wiki), class: 'btn btn-primary ' %>
  <%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger ', data: {confirm: 'Are you sure you want to delete this wiki?'} %>
  <%#= link_to "New Wiki", new_wiki_path, class: 'btn btn-warning ' %>
  <%= link_to "Wikis", wikis_path, class: 'btn btn-info ' %>
  <%= link_to 'Back', :back, class: 'btn btn-default '%>
  <% elsif policy(@wiki).create? %>
    	<%= link_to "New Wiki", new_wiki_path, class: 'btn btn-warning ' %>
      <%= link_to "Wikis", wikis_path, class: 'btn btn-info ' %>
   <% elsif @wiki.private? %>
   	<%= render  'collaborators/form', locals: { wiki: @wiki} %>
  <% else %>
      <%= link_to "Wikis", wikis_path, class: 'btn btn-info btn-sm  ' %>
<% end %>
